body {
    background:lightseagreen
}

.assignment {
    display:flex;
    padding:10px;
    margin: 10px;
    background:lightgray;
}

.assignment img {
    width: 200px;
    padding: 10px;
}

h1 {
    color:lightgray;
    text-align:center;
}

head {
    color:lightblue;
    text-align:center;
}